@import views.Utils
@import models.Query.DeckData
@(card: CompleteCard, quantity: Int = 0, big: Boolean = false, deck: DeckData = null)(implicit request: UserRequest[_])
<div class="card" @if(!big) { quantity="@quantity" } else { big="1" } color="@card.color" title="@card.name"
		data-id="@card.identifier" data-card="@card.id" data-version="@card.version">
	<div class="card-img">
		<img src="@Utils.cardImageURL(card.identifier)">
	</div>
	<div class="card-label">
		@card.identifier
	</div>
	<div class="card-corner">
		<a id="card-corner-details" href="@routes.Collection.card(card.identifier)" class="glyphicon glyphicon-search"></a>
		<span class="card-corner-text">@card.rarity</span>
	</div>
	<div class="card-strip">
		<div>@quantity</div>
	</div>
	@if(deck != null) {
		@defining(deck.quantityOf(card.id, card.version)) { qte =>
			<div class="card-deckqte" data-qte="@qte">
				<div class="label label-primary">@qte</div>
			</div>
		}
	}
</div>
