@import models.Query.DeckData
@(static_deck: DeckData = null)(implicit request: UserRequest[_])
@if(static_deck != null || request.deck.isDefined) {
	@defining(if(static_deck != null) static_deck else request.deck.get) { deck =>
		<div class="deck panel panel-info">
			<div class="panel-heading"><strong>Deck:</strong> @deck.name</div>
			<div class="panel-body small">
			@if(deck.cards.isEmpty) {
				This deck is currently empty.
			} else {
				<table>
				@for((category, cards) <- deck.cardsByLevels) {
					<tr>
						<th colspan="2">@category</th>
					</tr>
					@for((card, qte) <- cards) {
						<tr>
							<td class="qte"><span class="label label-primary"><strong>@qte</strong></span></td>
							<td class="nowrap" title="@card.identifier">
								<a href="@routes.Collection.card(card.identifier)">
									@card.name
									@if(card.version != "") {
										(@card.version)
									}
								</a>
							</td>
						</tr>
					}
				}
				</table>
			}
			</div>
			@if(deck.cards.nonEmpty) {
				<div class="panel-footer">
				@for((id, name) <- deck.universes) {
					<a href="@routes.Collection.universe(id)" class="label label-default">@name</a>
				}
				</div>
			}
			<div class="panel-footer">
			@if(static_deck == null) {
				<a href="@routes.Decks.view(deck.id)" class="btn btn-default btn-xs">Full view</a>
				<a href="@routes.Decks.unselect()" class="btn btn-default btn-xs">Done editing</a>
			} else {
				@if(request.deck.isDefined && request.deck.get.id == deck.id) {
					<a href="@routes.Decks.unselect()" class="btn btn-default btn-xs">Done editing</a>
				} else {
					<a href="@routes.Decks.select(deck.id)" class="btn btn-default btn-xs">Edit this deck</a>
				}
			}
			</div>
		</div>
	}
}
