body {
	padding-top: 50px;
	background-color: #f8f8f8;
}

.wrapper {
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 30px;
}

.label-aspect { font-family: monospace; font-weight: 600; }
.label-aspect.W { color: #333; background: #eee; }
.label-aspect.S { color: #eee; background: #333; }

/** Bootstrap fixes **/
.navbar-right .btn-group.btn-group-sm { margin-top: 2px; }
form button + a { margin-left: 10px; }
.page-header { margin-top: 25px; }

.label {
	position: relative;
	top: -1px;
}
