@import views.Page
@(card: CompleteCard, quantity: Int, combos: Iterable[(CompleteCard, Int)], decks: Iterable[(Int, String, Int)])(implicit request: UserRequest[_])
@main(card.name, Page.Collection) {
	<div class="page-header">
		<h2><span style="color: #999;">Card:</span> @card.name <small>(@card.identifier)</small></h2>
	</div>
	<ol class="breadcrumb">
		<li><a href="@routes.Collection.index()">Universes</a></li>
		<li><a href="@routes.Collection.universe(card.universe_id)">@card.universe</a></li>
		<li class="active">@card.name</li>
	</ol>
	<div class="row" style="margin-bottom: 15px;">
		<div class="col-md-2">
			<div class="panel panel-default" id="the-card">
				<div class="panel-body" style="display: flex; justify-content: center; padding: 15px 5px;">
					@views.html.components.card(card, quantity, big = true)
				</div>
				@if(request.authenticated) {
					<div class="panel-footer small">
						<div class="text-center"><strong>Owned</strong></div>
						<div style="display: flex ; justify-content: space-between ; align-items: center ;">
							<button id="btn-minus" class="btn btn-default btn-xs" style="width: 30px ;">-</button>
							<span id="card-qte">@quantity</span>
							<button id="btn-plus" class="btn btn-default btn-xs" style="width: 30px ;">+</button>
						</div>
					</div>
				}
				@if(request.deck.isDefined) {
					<div class="panel-footer small">
						<div class="text-center" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
							<strong>
								<a href="@routes.Decks.view(request.deck.get.id)">@request.deck.get.name</a>
							</strong>
						</div>
						<div style="display: flex ; justify-content: space-between ; align-items: center ;">
							<button id="btn-deck-minus" class="btn btn-default btn-xs" style="width: 30px ;">-</button>
							<span id="card-deck-qte">@request.deck.get.quantityOf(card.id, card.version)</span>
							<button id="btn-deck-plus" class="btn btn-default btn-xs" style="width: 30px ;">+</button>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="col-md-10">
			<table class="table table">
				<tr>
					<th>Identifier</th>
					<td>@card.identifier</td>
					<th>Rarity</th>
					<td>@card.rarity</td>
				</tr>
				<tr>
					<th>Universe</th>
					<td><a href="@routes.Collection.universe(card.universe_id)">@card.universe</a></td>
					<th>Extension</th>
					<td><a href="@routes.Collection.universe(card.universe_id)#ext-@card.extension_id">@card.extension</a></td>
				</tr>
				<tr>
					<th>Type</th>
					<td>@card.tpe</td>
					<th>Color</th>
					<td>@card.color</td>
				</tr>
				<tr>
					<th>Level</th>
					<td>@card.level</td>
					<th>Trigger</th>
					<td>@card.trigger</td>
				</tr>
				<tr>
					<th>Cost</th>
					<td>@card.cost</td>
					<th>Soul</th>
					<td>@card.soul</td>
				</tr>
				<tr>
					<th>Power</th>
					<td>@card.power</td>
					<th>Limitation</th>
					<td>@card.limitation</td>
				</tr>
				<tr>
					<th>Trait 1</th>
					<td>@card.trait1</td>
					<th>Trait 2</th>
					<td>@card.trait2</td>
				</tr>
				<tr>
					<th>Ability</th>
					<td colspan="3">
						<pre style="white-space: pre-wrap; word-break: normal; margin: 0;">@card.ability</pre>
					</td>
				</tr>
				<tr>
					<th>Flavor</th>
					<td colspan="3"><em>@card.flavor</em></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="@if(request.authenticated) { col-md-6 } else { col-md-12 }">
			<div class="panel panel-info">
				<div class="panel-heading">Possible combo with this card</div>
				<div class="panel-body">
					@if(combos.nonEmpty) {
						@views.html.components.cards_list(combos)
					} else {
						<div class="alert alert-warning" style="margin-bottom: 0;">
							No combo found with this card...
						</div>
					}
				</div>
			</div>
		</div>
		@if(request.authenticated) {
			<div class="col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">Decks containing this card</div>
					<div class="panel-body">
					@if(decks.nonEmpty) {
						<table class="table" style="margin: 0; table-layout: fixed; width: 100%">
							<thead>
								<tr>
									<th style="width: 45px;"></th>
									<th>Name</th>
									<th style="width: 80px;" class="text-center">Quantity</th>
									<th style="width: 70px;" class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
								@for((id, name, qte) <- decks) {
									<tr>
										<td style="color: #999;">#@id</td>
										<td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
											<a href="@routes.Decks.view(id)">@name</a>
										</td>
										<td class="text-center"><span class="label label-primary">@qte</span></td>
										<td style="width: 30px ;" class="text-right">
											@if(request.deck_id.contains(id)) {
												<a href="@routes.Decks.unselect()" class="btn btn-xs btn-primary">Done</a>
											} else {
												<a href="@routes.Decks.select(id)" class="btn btn-xs btn-default">Edit</a>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					} else {
						<div class="alert alert-warning" style="margin-bottom: 0 ;">
							You have no deck containing this card.
						</div>
					}
					</div>
				</div>
			</div>
		}
	</div>
	<script>
		var qte = @quantity;
		var qte_below = $("#card-qte");
		var qte_over = $("#the-card").find(".card-strip div");
		var card = $("#the-card").find(".card")[0];

		function handle_click(mod) {
			return function() {
				var old_qte = qte;
				qte = Math.max(0, old_qte + mod);

				qte_below.text(qte);
				qte_over.text(qte);

				if (qte != old_qte) {
					update_card(card.dataset, mod);
				}
			}
		}

		$("#btn-minus").click(handle_click(-1));
		$("#btn-plus").click(handle_click(+1));

		@if(request.deck.isDefined) {
			var deck_qte = @request.deck.get.quantityOf(card.id, card.version);
			var card_id = "@card.id";
			var card_version = "@card.version";

			function handle_deck(mod) {
				return function() {
					update_deck(card_id, card_version, mod, function() {
						deck_qte = Math.max(0, deck_qte + mod);
						$("#card-deck-qte").text(deck_qte);
					});
				};
			}

			$("#btn-deck-minus").click(handle_deck(-1));
			$("#btn-deck-plus").click(handle_deck(+1));
		}
	</script>
}
