@import views.Page
@(name: String, deck: Vector[((String, String), Vector[(CompleteCard, Int, Int)])])(implicit request: UserRequest[_])
@main("Decks management", Page.Decks) {
    <div class="page-header">
        <h2><span style="color: #999;">Deck:</span> @name</h2>
    </div>

    @for(((tpe, lvl), cards) <- deck) {
        <h3>
            @{tpe match {
                case "Climax" => "Climax"
                case _ => s"Level $lvl"
            }}
        </h3>
        @for((card, col_q, deck_q) <- cards) {
            @card.name
        }
    }
}
