@import views.Page
@(decks: Iterable[Decks.ListItem])(implicit request: UserRequest[_])
@main("Decks management", Page.Decks) {
	<div class="page-header">
		<h1>Decks management</h1>
	</div>
	<div class="row">
		<div class="col-md-9">
			<table class="table">
				<thead>
					<tr>
						<th>Deck name</th>
						<th>Universe</th>
						<th class="text-right">Card count</th>
						<th class="text-right">Actions</th>
					</tr>
				</thead>
				<tbody>
					@for(deck <- decks) {
						<tr>
							<td>
								<a href="#">@deck.name</a>
							</td>
							<td>
								@for(universe <- deck.universes) {
									<a href="/cards/@universe._1" class="label label-default">@universe._2</a>
								}
								@if(deck.universes.isEmpty) {
									-
								}
							</td>
							<td class="text-right">
								@if(deck.ncx_count + deck.cx_count > 0) {
									@deck.ncx_count + @deck.cx_count
								} else {
									0
								}
								<span style="color: #999;">/ 50</span>
							</td>
							<td class="text-right actions">
								<button class="btn btn-xs btn-default">Edit</button>
								<button class="btn btn-xs btn-danger" data-id="@deck.id" style="width: 50px; text-align: center;">Delete</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
			@if(decks.isEmpty) {
				<div class="alert alert-info">
					<strong>Oh!</strong>
					It looks like you have not created any deck yet.
				</div>
			}
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Decks</div>
				<div class="panel-body">
					Write something here.
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<button class="btn btn-primary">New deck</button>
		</div>
	</div>
	<form action="/decks/delete" method="post" id="delete-form">
		<input type="hidden" name="id" value="" id="delete-id">
	</form>
	<script>
		$(".actions .btn-danger").click(function(ev) {
			var btn = ev.target;
			if (btn.sure) {
				clearTimeout(btn.sure);
				$("#delete-id").val(btn.dataset.id);
				$("#delete-form").submit();
			} else {
				btn.sure = setTimeout(function() {
					btn.innerText = "Delete";
					btn.sure = void 0;
				}, 2000);
				btn.innerText = "Sure?";
			}
		});
	</script>
}
