@import views.Page
@import models.Query.DeckData
@(deck: DeckData, cards_list: Vector[(String, Vector[(CompleteCard, Int, Int)])])(implicit request: UserRequest[_])

@main("Decks management", Page.Decks) {
	<div class="page-header">
		<h2><span style="color: #999 ;">Deck:</span> @deck.name</h2>
	</div>
	<div class="row">
		<div class="col-md-3">
			@views.html.components.deck(deck)
			@if(request.deck.isDefined && request.deck.get.id == deck.id) {
				<div class="tips alert alert-warning small">
					<strong>This deck is currently selected!</strong><br>
					You can edit its content while browsing your
					<a href="@routes.Collection.index()">collection</a>.
				</div>
			}
			@if(cards_list.nonEmpty) {
				@views.html.components.filters()
			}
		</div>
		<div class="col-md-9">
		@for((category, cards) <- cards_list) {
			<h3>@category</h3>
			@views.html.components.cards_list(cards.map { case (c, cq, dq) => (c, dq) })
		}
		@if(cards_list.isEmpty) {
			<div class="alert alert-warning">
				The deck <strong>@deck.name</strong> is currently empty.
			</div>
		}
		</div>
	</div>
}
