@import views.Page
@(title: String, msg: String, details: String = null)(implicit request: UserRequest[_])
	@main("Error", Page.Other) {
		<div class="row" style="margin-top: 50px ;">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<strong>@title</strong>
					</div>
					<div class="panel-body">@msg</div>
					@if(details != null) {
						<div class="panel-footer">
							<pre id="details" class="small">@details</pre>
						</div>
					}
				</div>
			</div>
		</div>
		<style>
			#details {
				padding: 0 ;
				border: 0 ;
				margin: 0 ;
				white-space: pre ;
				overflow: auto ;
			}
		</style>
	}
