@import views.Page
@import org.apache.commons.lang3.exception.ExceptionUtils
@(error: Throwable)(implicit request: UserRequest[_])
@main("Error", Page.Other) {
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<strong>An error occured</strong>
				</div>
				<div class="panel-body">
					@error.getMessage
				</div>
				<div class="panel-footer">
					<pre id="stack-trace" class="small">@ExceptionUtils.getStackFrames(error).mkString("\n")</pre>
				</div>
			</div>
		</div>
	</div>
	<style>
		#stack-trace {
			padding: 0;
			border: 0;
			margin: 0;
			white-space: pre;
			overflow: auto;
		}
	</style>
}
