@import views.Page
@import models.CompleteCard
@import views.html.components.cards_list
@(name: String, extensions: Iterable[Iterable[(CompleteCard, Int)]])(implicit request: UserRequest[_])

@main(name, Page.Collection) {
	<div class="page-header">
		<h2><span style="color: #999 ;">Universe:</span> @name</h2>
	</div>
	<ol class="breadcrumb">
		<li><a href="@routes.Collection.index()">Universes</a></li>
		<li class="active">@name</li>
	</ol>
	<div class="row">
		<div class="col-md-3">
			@views.html.components.deck()
			@if(request.deck.isEmpty) {
				<div class="tips alert alert-warning small">
					<strong>Usage: </strong>
					Use left-click or right-click to add or remove card from your collection.
				</div>
			} else {
				<div class="tips alert alert-warning small">
					<strong>You are currently editing a deck.</strong><br>
					Clicking on a card will add or remove that card from your deck instead
					of modifying your collection.
				</div>
			}
			<div class="nav nav-stacked nav-pills" style="margin-bottom: 20px ;">
			@for(cards <- extensions; (c, _) = cards.head) {
				<a class="list-group-item nowrap small" href="#ext-@c.extension_id" title="@c.extension">@c.extension</a>
			}
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Filters</div>
				<div class="panel-body">
					...
				</div>
			</div>
		</div>
		<div class="col-md-9">
		@for(cards <- extensions; (first, _) = cards.head) {
			<h3 id="ext-@first.extension_id" style="padding-top: 70px ; margin-top: -60px ;">@first.extension</h3>
			@cards_list(cards)
		}
		</div>
	</div>
	<script>
		function handle_click(e) {
			if (e.target.tagName == "A") return;

			e.preventDefault();
			e.stopImmediatePropagation();

			var target = e.currentTarget;

			var mod;
			switch (e.button) {
				case 2: mod = -1; break;
				case 0: mod = +1; break;
			}

			var old_qte = parseInt(target.getAttribute("quantity"));
			var qte = Math.max(0, old_qte + mod);

			target.setAttribute("quantity", qte);
			$(".card-strip div", target).text(qte);

			if (qte != old_qte) {
				update_card(target.dataset, mod);
			}
		}

		$(".card").click(handle_click).contextmenu(handle_click);
	</script>
}
