@import views.Page
@(universes: Collection.UniversesList)(implicit request: UserRequest[_])

@universesList(universes: Iterable[Collection.UniverseItem]) = {
	<table class="table table-condensed">
		<thead>
			<tr>
				<th colspan="2">Aspect / Name</th>
				<th class="text-right">Extensions</th>
				<th class="text-right">Cards</th>
			</tr>
		</thead>
		<tbody>
		@for(universe <- universes) {
			<tr>
				<td><span class="label label-aspect @universe._1">@universe._1</span></td>
				<td><a href="/cards/@universe._2">@universe._3</a></td>
				<td class="text-right">@universe._4</td>
				<td class="text-right">@universe._5</td>
			</tr>
		}
		</tbody>
	</table>
}

@main("Card collection", Page.Collection) {
	<div class="page-header">
		<h1>Collection</h1>
	</div>
	<div class="row">
		<div class="col-md-6">
			@universesList(universes._1)
		</div>
		<div class="col-md-6">
			@universesList(universes._2)
		</div>
	</div>
	<style>
		.label-aspect { font-family: monospace; font-weight: 600; }
		.label-aspect.W { color: #333; background: #eee; }
		.label-aspect.S { color: #eee; background: #333; }
	</style>
}
