@import views.Page
@import models.Query.UniverseListRow
@(universes: (Iterable[UniverseListRow], Iterable[UniverseListRow]))(implicit request: UserRequest[_])

@universesList(rows: Iterable[UniverseListRow]) = {
	<table class="table table-condensed">
		<thead>
			<tr>
				<th colspan="2">Aspect / Name</th>
				<th class="text-right">Extensions</th>
				<th class="text-right">Cards</th>
			</tr>
		</thead>
		<tbody>
		@for(row <- rows) {
			<tr>
				<td><span class="label label-aspect @row.universe.aspect">@row.universe.aspect</span></td>
				<td><a href="/cards/@row.universe.id">@row.universe.name</a></td>
				<td class="text-right">@row.extensions</td>
				<td class="text-right">@row.cards</td>
			</tr>
		}
		</tbody>
	</table>
}

@main("Card collection", Page.Collection) {
	<div class="page-header">
		<h2>Collection</h2>
	</div>
	<ol class="breadcrumb">
		<li class="active">Universes</li>
	</ol>
	<div class="row">
	@defining((request.deck.isDefined, request.deck.orNull)) { case (editing, deck) =>
		@if(editing) {
			<div class="col-md-3">
				@views.html.components.deck()
				<div class="tips alert alert-warning small">
					<strong>You have selected a deck!</strong><br>
					You can edit its content while browsing your collection.
					You can choose which deck you want to edit on the <a href="@routes.Decks.list()">decks</a> page.
				</div>
			</div>
			<div class="col-md-9">
		}
		<div class="col-md-6">@universesList(universes._1)</div>
		<div class="col-md-6"> @universesList(universes._2)</div>
		@if(editing) {
			</div>
		}
	}
	</div>
}
