@import views.Page
@()(implicit request: UserRequest[_])
@main("Login", Page.Other) {
	<div class="page-header">
		<h1>Login</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			@helper.form(action = routes.Auth.registerPost()) {
				<div class="form-group">
					<label for="login-name">Login</label>
					<input type="email" class="form-control" id="login-name" placeholder="Login name">
				</div>
				<div class="form-group">
					<label for="login-passwd">Password</label>
					<input type="password" class="form-control" id="login-passwd" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-default">Login</button>
				<!--suppress CssUnknownProperty -->
				<a href="/register">Register</a>
			}
		</div>
	</div>
}
