@main("") {
	<div id="login">
		<a class="button1" href="logon.html" style="position:absolute ; right:0px ; margin-right:10px ; margin-bottom:0px ;" tabindex="4">
			Create account</a>
		<form action="login.html" method="get">
			<p>Username</p>
			<input type="text" name="username" class="textForm" tabindex="1">
			<p>Password</p>
			<input type="text" name="password" class="textForm" tabindex="2">
			<br/><input type="submit" class="button1" name="submit" value="Login" style="margin: 35px 42.5% ;" tabindex="3">
		</form>
	</div>
}
