@main("") {
	<div id="login" style="height:393px ;">
		<form action="logon.html" method="get">
			<p>Username</p>
			<input type="text" name="username" class="textForm" tabindex="1">
			<p>Email</p>
			<input type="text" name="email" class="textForm" tabindex="2">
			<p>Password</p>
			<input type="text" name="password" class="textForm" tabindex="3">
			<p>Confirm password</p>
			<input type="text" name="password" class="textForm" tabindex="4">
			<br/><input type="submit" class="button1" name="submit" value="Create account" style="margin: 35px 35.5% ;" tabindex="5">
		</form>
	</div>
}
